.section {
  // .section__login

  &__login {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
.form {
  width: 600px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 40px 20px;
  font-size: 20px;
  &__logo {
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 100%;
    width: 72px;
    height: 72px;
  }
  h1 {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }
  // .form__info

  &__info {
  }

  // .form__label

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  // .form__control

  &__control {
    display: flex;
    border: 1px solid gray;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
  }

  // .form__text

  &__text {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 20px;
  }

  // .form__password

  &__password {
    margin-bottom: 10px;
  }

  // .form__label-password

  &__label-password {
  }

  // .form__control-password-tow

  &__control-password-tow {
    display: flex;
    border: 1px solid gray;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
  }

  // .form__btn
  &__btn {
  }

  &__button {
  }
}
.button-logo-true {
  display: block;
  font-size: 18px;
}

.alert {
  text-align: center;
  padding: 10px 15px;
  border: 1px solid red;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  background: rgba(212, 68, 68, 0.603);
  margin-bottom: 20px;
}
